.DS_Store
*.exe
*.o
a.out
phonebook
.vscode
out
*.log
tests
megaphone
zombie
brain
violence
sed
test
test.replace
harl
harlFilter
fixed
bsp
claptrap
scavtrap
fragTrap
diamondtrap
animal
abstract
file
interface
bureaucrat
form
form_execute
*_shrubbery
intern
convert
*.back*
serialize
